version: '3.8'
services:
  minio:
    container_name: minio
    image: minio/minio:latest
    restart: unless-stopped
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Interface web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
#  app:
 #   image: openjdk:17
  #  ports:
  #    - "8080:8080"
  #  depends_on:
   #   - minio

volumes:
  minio_data: